# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
!c_src/lib/*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.dylib

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
